{{>layout/header}}

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" OnClick="location.href ='/food'" style="cursor:pointer;"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>냉장고 관리</h3>
                    <p class="lead mb-0">냉장고에 있는 재료를 간편하게 등록하고 관리해보세요!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" OnClick="location.href ='/'" style="cursor:pointer;"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3>식재료 주문</h3>
                    <p class="lead mb-0">새로 필요하거나 모두 소진된 재료를 검색하고 주문하세요!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" OnClick="location.href ='/recipe'" style="cursor:pointer;"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>레시피 추천</h3>
                    <p class="lead mb-0">레시피 랭킹을 참고해서 만들 수 있는 요리를 찾아보세요!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{>layout/footer}}